{% extends "articles/layout.html" %}
{% load static %}

{% block style %}
<title>{{ article.title }}</title>
<link rel="stylesheet" href="{% static 'articles/css/article_style.css' %}">
<link rel="stylesheet" href="{% static 'articles/css/styles.css' %}">
{% endblock %}

{% block body %}
<body>
    <div class="container">
        <header class="article-header">
            <h1>{{ article.title }}</h1>
            {% if user.is_authenticated and user == article.author %}
                <div class="edit-link">
                    <a href="/edit_article/{{ article.id }}">Изменить</a>
                </div>
            {% endif %}
        </header>
        <main>
            <div class="article-image">
                <img src="/media/{{ article.img }}">
            </div>
            <div class="article-content">
                <p>{{ article.content }}</p>
            </div>
        </main>
    </div>
</body>
{% endblock %}