<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block style%}
    <title>Статьи</title>
    <link rel="stylesheet" href="{% static 'articles/css/styles.css' %}">
    {% endblock %}
</head>
<body>
    <!-- Верхняя панель -->
    <header class="header">
        <div class="logo-container">
            <img src="{% static 'articles/images/logo.jpg' %}" alt="Логотип" class="logo-img">
            <div class="logo-text">
                <a href="{% url 'main' %}" style="text-decoration: none;">logoipsum</a>
            </div>
        </div>
        <nav>
    <!-- Логика для отображения кнопок -->
    {% if user.is_authenticated %}
        <span></span>
        <form action="{% url 'logout' %}" target="_self" method="post">
            {% csrf_token %}
            <button type="submit" class="login-button"> Пользователь - {{ user.username }} | Выйти</button>
        </form>
    {% else %}
        <form action="{% url 'login' %}" target="_self">
            {% csrf_token %}
            <button type="submit" class="login-button">Войти</button>
        </form>
    {% endif %}
        </nav>
    </header>

    {% block body %}
    {% endblock %}

    <!-- Нижняя панель -->
    <footer class="footer">
        <div class="footer-logo-container">
            <img src="{% static 'articles/images/logo.jpg' %}" alt="Логотип" class="footer-logo-img">
            <div class="footer-logo-text">logoipsum</div>
        </div>
        <p class="footer-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Amet tristique placerat eleifend aliquam pellentesque facilisis ultrices.
            Imperdiet mus urna egestas at tellus.
        </p>
        <div class="footer-bottom">
            <div class="footer-links-PrivacyPolicy">
                <a href="#">Privacy Policy</a>
            </div>
            <div class="footer-links-Terms">
                <a href="#">Terms and Condition</a>
            </div>
            <p class="footer-text">© 2024 Ваша компания. Все права защищены.</p>
        </div>
    </footer>
</body>
</html>