{% extends "articles/layout.html" %}
{% load static %}

{% block body %}
    <!-- Основная часть -->
    <main class="main-content">
        <div class="main-header">
            <h1>Статьи</h1>
            {% if user.is_authenticated %}
            <form action="{% url 'add_article' %}" target="_self">
            <button class="add-article-button">Добавить статью</button>
                </form>
            {% endif %}
        </div>
        <div class="articles-grid">
            {% for el in articles %}
                <a href="{{ el.get_absolute_url }}" class="article-link">
                    <div class="article-block">
                        <img src='/media/{{ el.img }}' alt="Изображение статьи">
                        <h2>{{ el.title|truncatewords:8 }}</h2>
                        <p>{{ el.content|truncatewords:30 }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </main>
{% endblock %}