{% extends "articles/layout.html" %}
{% load static %}

{% block body %}
    <!-- Основная часть -->
    <main class="main-content">
        <div class="main-header">
            <h1>Статьи</h1>
            <form action="{% url 'article' %}" target="_self">
            <button class="add-article-button">Добавить статью</button>
                </form>
        </div>
        <div class="articles-grid">
            <!-- Блок 1 -->
            <div class="article-block">
                <img src="{% static 'articles/images/image1.jpg' %}" alt="Изображение статьи">
                <h2>Заголовок статьи 1</h2>
                <p>Текст статьи 1</p>
            </div>
            <!-- Блок 2 -->
            <div class="article-block">
                <img src="{% static 'articles/images/image2.jpg' %}" alt="Изображение статьи">
                <h2>Заголовок статьи 2</h2>
                <p>Текст статьи 2</p>
            </div>
            <!-- Блок 3 -->
            <div class="article-block">
                <img src="{% static 'articles/images/image3.jpg' %}" alt="Изображение статьи">
                <h2>Заголовок статьи 3</h2>
                <p>Текст статьи 3</p>
            </div>
            <!-- Блок 4 -->
            <div class="article-block">
                <img src="{% static 'articles/images/image4.jpg' %}" alt="Изображение статьи">
                <h2>Заголовок статьи 4</h2>
                <p>Текст статьи 4</p>
            </div>
        </div>
    </main>
{% endblock %}